html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainSpace {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  font-family: 'Helvetica Neue', Helvetica Arial sans-serif;
  font-size: 48px;
  color: black;
  z-index: 1;
  cursor: pointer;
  transition: font-size 0.2s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allows clicks to pass through */
  backdrop-filter: blur(0px); /* No blur by default */
  transition: backdrop-filter 0.2s ease;
}

.title:hover ~ .overlay {
  backdrop-filter: blur(20px); /* Apply blur when title is hovered */
}

.title:hover {
  font-size: 52px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
